@model CareerCloudMVCCore2.Models.ApplicantWorkHistory

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicantWorkHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCodeNavigation.Code)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
