@model IEnumerable<CareerCloudMVCCore2.Models.CompanyJobs>

    <p>

        <h1>Company Jobs</h1>
        <a asp-controller="CompanyJobs" asp-action="Create" asp-route-id=@ViewData["Id"]>Create New</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                JOBS
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @foreach (var job in item.CompanyJobsDescriptions)
                {
                    @Html.ActionLink(job.JobName, "Details", "CompanyJobs", new { Id = item.Id })
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @*@Html.Partial("_CompanyJobSkills",item.CompanyJobSkills);*@
            @*<a asp-controller="CompanyJobSkills" asp-action="SkillDetails" asp-route-id="@item.Id">Skill Details</a> |*@
            @*<a asp-controller="CompanyJobEducations" asp-action="EducationDetails" asp-route-id="@item.Id">Education Details</a> |
            <a asp-controller="CompanyJobsDescriptions" asp-action="JobDescriptionDetails" asp-route-id="@item.Id">Job Description</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
