@model CareerCloudMVCCore2.Models.SecurityLoginsLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SecurityLoginsLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogonDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogonDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSuccesful)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSuccesful)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginNavigation.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
